* {
  box-sizing: border-box;
}

body {
  background-color: #c4b1b4;
  display: grid;
  font-family: 'Raleway', sans-serif;
  grid-template-rows: 150px 500px 1fr 100px;
  grid-template-areas: 
    "header"
    "inputs"
    "post"
    "showbutton";
}

header {
  background-color: #412935;
  grid-area: header;
  padding: 10px 20px;
}

h1 {
  color: #FFFFFF;
  display: inline-block;
  font-size: 2.5em;
  margin: 0.67em 0px 0.67em 30px;
}

img {
  width: 60px;
}

header input {
  border-radius: 5px 0px 0px 5px;
  border: 2px solid #c4b1b4;
  display: inline-block;
  font-size: 1.8em;
  height: 45px;
}

form {
  margin: 10px auto;
  width: 700px;
}

label {
  color: #b19da1;
  font-size: 1.5em;
  line-height: 40px;
}

form input {
  border: none;
  font-size: 2em;
  height: 60px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  background-color: #5f4347;
  border: none;
  color: #FFFFFF;
  height: 60px;
  width: 45%;
}

button:hover, #input-file-button:hover {
  background-color: #968183;
}

div {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

input[type="file"] {
    display: none;
}

p {
  font-size: 22px;
  font-weight: bold;
  hyphens: auto;
  margin: 0px;
  overflow: scroll;
  padding: 2px 14px;  
  width: 275px;
  word-wrap: break-word;
}

h2 {
  margin: 0px;
  overflow: hidden;
  padding: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#show-button {
  grid-area: showbutton;
  display: flex;
  justify-content: center;
}

#the-show-button {
  margin-top: 10px;
}

#search {
  display: flex;
  float: right;
  margin: 33.5px;
}

#search img {
  background-color: #c4b1b4;
  border-radius: 0px 5px 5px 0px;
  height: 45px;
  padding: 10px;
  width: 45px;
}

#inputs-section {
  background-color: #412935;
  grid-area: inputs;
}

#choose-file-button {
  background-color: #5f4347;
  border: none;
  color: #FFFFFF;
  height: 60px;
  margin-top: 30px;
  width: 100%;
}

#input-file-button {
  background-color: #5f4347;
  color: #FFFFFF;
  display: inline-block;
  height: 60px;
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  width: 100%;
}

#post-section {
  display: grid;
  grid-area: post;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}

#placeholder h2 {
  margin: 12px;
}

#middle-article {
  margin: 0px;
}

#bottom-article {
  background-color: #412935; 
  height: 100%;
  margin: 0px;
  padding: 0px 20px;
}

#post-image {
  height: 145px;
  margin: auto;
  width: auto;
}

.placeholder {  
  background-color: #FFFFFF;
  border: 2px solid #938284;
  display: grid;
  grid-template-rows: 50px 169px 104px 68px;
  margin: 20px auto;
  width: 282px;
  grid-template-areas:
    "title"
    "image"
    "body"
    "bottom";
}

.article-button-delete
.post-button {
  width: 40px;
}

@media screen and (max-width: 829px) {
  body {
  grid-template-rows: 200px 500px 1fr 100px;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  form {
    width: 87.5%;
  }

  #search {
    margin: 0px 100px auto 100px;
  }

}